@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../fonts/OpenSansCondensed-Light.ttf');
}

html, body{
	height: 100%;
	padding: 0px 0px;
	margin: 0px 0px;
	min-height: 100%;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #61210F;
}

#wrapper{
	min-height: 100%;
    margin-bottom: -150px;
    padding-bottom: 150px;
    background-image: url(../images/background.jpg);
    background-repeat: repeat-x repeat-y;
}

ul {
    margin: 0 0;
    padding: 0 0;
}

li{
	list-style-type: none;
}

a{
	color: #61210F;
}

a:hover{
	cursor: pointer;
	color: #EDAE49;
}

._container{
	max-width: 980px;
    margin: auto auto;
    padding-left: 10px;
    padding-right: 10px;
}

#header{
	background-color: #EDAE49;
	min-height: 200px;
}

#header img{
	height: 150px;
	width: 200px;
	min-width: 100px;
}

#title{
	font-weight: bold;
	font-size: 22px;
}

#slogan{
	font-size: 18px;
}

#contacts-feedback{
	text-align: right;
}

.contact{
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

#feedback{
	border: none;
	border-bottom: 2px dashed #61210F;
	font-weight: bold;
	background-color: #EDAE49;
}

#feedback:hover{
	color: white;
	border-color: white;
}

#form-wrapper{
	visibility: hidden;
	width: 30%;
	z-index: 999;
	background:rgba(255,255,255,0);
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 150px;
    opacity: 0;
    transition: opacity 1s;
}

#feedback-close{
	height: 5px;
	width: 5px;
	margin-right: -5px;
	-webkit-appearance: push-button;
    -moz-appearance: button; 
}

#feedback-close:hover{
	cursor: pointer;
}

#form-wrapper form {
	background: #fff;
	box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
	border-radius: 5px;
	max-width: 480px;
	border-top: 5px solid #0e3721;
	animation: bounce 1.5s infinite;
}
::-webkit-input-placeholder {
   font-size: 1.3em;
}

#form-title{
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 80%;
    font-size: 2em;
    font-weight: bold;
}

.formEntry {
    margin: 30px auto;
    width: 80%;
    border-radius: 2px;
    border: none;
    background-color: #ebebeb;
    height: 2em;
}

.formEntry:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 85%;
    transition: ease 0.5s;
}

.message {
    height: 3em;
}

.message:hover {
    height: 12em;
}

#submit {
    background-color: #EDAE49;
    font-size: 20px;
}

#submit:hover {
    cursor: pointer;
    height: 2em;
}

#feedback-form input:placeholder-shown {
    border: 1px solid red;
}

#feedback-form textarea:placeholder-shown {
    border: 1px solid red;
}

#navigation{
	background-color: #EA2B1F;
	font-size: 30px;
}

#navigation li a{
	color: white;
}

#navigation li a:hover{
	color: #EDAE49;
}

#slider{
	background-color: #FCDDBC;
}

.mySlides {display: none}
img {
	vertical-align: middle;}

#slideshow-container {
    margin: auto;
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}

.caption {
  font-size: 30px;
  padding: 8px 12px;
  bottom: 8px;
  font-family: 'Dancing Script', cursive;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#path-container{
	background-color: #FCDDBC;
}

.underline{
	text-decoration: underline;
}

#main{
	background-color: #FCDDBC;
}

#footer{
	min-height: 150px;
	color: white;
	background-color: #61210F;
}

#footer a{
	color: white;
}

#footer a:hover{
	color: #EDAE49;
}

#view-cart{
	bottom: 130px;
	right: 30px;
}

#view-cart-button{
	background-color: #EDAE49;
}

#cart-holder{
	visibility: hidden;
	top: 5%;
	width: 70%;
	z-index: 990;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #EDAE49;
    max-height: 90%;
    overflow-y: auto;
}

/*#cart-close{
	height: 5px;
	width: 5px;
	margin-right: -5px;
	-webkit-appearance: push-button;
    -moz-appearance: button;
}*/